* {
  box-sizing: border-box; }

body {
  background: #fff;
  color: #666;
  font-size: 18px;
  line-height: 1.6; }

.u-warn {
  color: #fc2e32; }

#content {
  padding: 0 10px;
  width: 95%;
  max-width: 980px;
  margin: 0 auto; }

.header {
  text-align: center;
  color: #000; }

.twitter-share {
  font-size: 13px;
  margin-top: 10px; }
  .twitter-share span {
    margin-right: 5px;
    position: relative;
    top: -3px;
    vertical-align: middle; }

.area {
  margin-top: 40px;
  font-size: 15px; }
  .area .areaTitle {
    font-size: 20px;
    color: #666;
    font-weight: bold; }
  .area .area-info {
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px;
    border: solid 1px #666; }
    .area .area-info .day {
      font-weight: bold;
      margin-top: 20px; }
    .area .area-info .title {
      color: #fc2e32; }
    .area .area-info .message {
      font-size: 13px; }
  .area:first-of-type {
    margin-top: 0px; }

.image-wrap {
  margin-top: 40px;
  text-align: left; }

.twitter-wrapper {
  margin-top: 40px; }
  .twitter-wrapper .twitter-title {
    font-size: 15px; }

#twitter-widget-0 {
  border: solid 1px #ccc !important;
  border-radius: 2px; }

.frames .frame {
  margin: 40px auto;
  width: 100%;
  max-width: 980px; }
  .frames .frame .frame__title {
    font-size: 25px;
    font-weight: bold; }
  .frames .frame .frame__content {
    position: relative; }
    .frames .frame .frame__content::before {
      content: '';
      display: block;
      padding-top: 75%; }
    .frames .frame .frame__content iframe {
      border: solid 1px #ccc;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.to-top {
  margin-top: 20px; }

@media screen and (max-width: 768px) {
  .area {
    margin-top: 40px;
    font-size: 15px; }
    .area .areaTitle {
      font-size: 20px;
      color: #666;
      font-weight: bold; }
    .area .area-info {
      padding: 10px;
      border: solid 1px #666; }
      .area .area-info .day {
        font-weight: bold;
        margin-top: 20px; }
      .area .area-info .title {
        color: #fc2e32; }
      .area .area-info .message {
        font-size: 13px; }
    .area:first-of-type {
      margin-top: 0px; }
  .frames .frame {
    width: 95%; }
    .frames .frame .frame__title {
      font-size: 15px; }
    .frames .frame .frame__content::before {
      padding-top: 100%; } }
